body {
  background-image: url("images/background_image.png");
  background-color: azure;
  font-family: 'Bree Serif', serif;
}

h1 {
  color: white;
  text-align: center;
  padding: 10px;
}

.headers  {
  color: white;
  padding: 8px;
  border-style: solid;
  border-color: green;
}

li {
  color: white;
}

.btn btn-outline-success {
  padding: 15px 15px;
}

.rickpic {

}

h4 {
  color: white;
  text-align: center;
  padding: 10px;
}


.media{
  padding: 5px 5px;
}

.media-body {
  color: #DDDDDD;
  padding: 15px;
}

.media-heading {
  font-family: 'Dosis', sans-serif;
  padding: 10px;
}

.linktext{
  color: white;
}

.navbuttons{
  margin: auto;
}

.aboutme{
  font-family: 'Dosis', sans-serif;
  padding: 10px;
}


.logoimage{
  margin: auto;
}
